:root {
    /* COLORES */
    /* color-scheme: light dark; */
    --color-principal: #9779E6;
    --color-principal-2: #735cad;
    --color-principal-3: #4e3f74;
    --white100: #FFF;
    --50: #FAFAFA;
    --100: #F5F5F5;
    --200: #EEEEEE;
    --300: #E0E0E0;
    --400: #BDBDBD;
    --500: #9E9E9E;
    --600: #757575;
    --700: #616161;
    --800: #424242;
    --900: #212121;
    --black100: #000;
    /* TIPOGRAFÍAS */
    --heading-xxlarge: 56px;
    --heading-xlarge: 48px;
    --heading-large: 40px;
    --heading-medium: 32px;
    --heading-small: 24px;
    --heading-smaller: 20px;
    --text-large: 20px;
    --text-medium: 18px;
    --text-regular: 16px;
    --text-small: 14px;
    --text-tiny: 12px;
}


/* ___________________ GLOBALS ___________________ */
*, *:before, *:after { box-sizing: inherit; margin: 0; }
*::selection { background-color: var(--800); color: var(--300); }
body { font-family: monospace; background-color: var(--300); }
a { text-decoration: none; }
html { scroll-behavior: smooth; }
.container { margin: 0 auto; max-width: 576px; background-color: var(--300);
    box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.05); }
.title {
    color: var(--800);
    font-weight: 600;
    font-size: var(--text-regular);
    padding: 30px 20px 20px 20px;
}

/* ___________________ LINKS ___________________ */
.links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 30px 20px;
}
.link {
    color: var(--800);
}
.scroll-ids {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.id-links {
    color: var(--800);
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid var(--800);
    transition: .2s ease;
}
.id-links:hover {
    color: var(--400);
    background-color: var(--800);
}

/* ___________________ PERFIL ___________________ */
.perfil {
    display: flex;
    align-items: center;
    gap: 20px;
}
.foto-perfil {
    background-image: url(../img/foto-perfil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    width: 100px;
    height: 100px;
    background-color: var(--500);
    box-shadow: -3px 5px 20px 0px rgba(0,0,0,0.3);
}
.perfil {
    padding: 20px;
}
.datos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contacto {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nombre-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
}
.nombre{
    color: var(--800);
}
.fecha{
    font-size: var(--text-small);
    font-weight: 400;
    color: var(--800);
}
.text-icon {
    font-size: var(--text-small);
}
.icon-container {
    display: flex;
    gap: 10px;
    color: var(--800);
}
.texto-container {
    padding: 0px 20px;
}
.texto {
    color: var(--800);
    font-size: var(--text-small);
}
.link-perfil {
    padding: 20px 20px 0px 20px;
}
/* ___________________ SKILLS ___________________ */
.skills-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0px 20px;
}
.brand {
    font-size: var(--text-small);
    color: var(--800);
}
.skill {
    display: flex;
    flex-direction: column;
}
.icon-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.icon-skill {
    color: var(--800);
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid var(--800);
    transition: .2s ease;
}
.icon-skill:hover {
    color: var(--400);
    background-color: var(--800);
    cursor: default;
}

/* ___________________ WORK EXPERIENCE ___________________ */
.job-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 40px;
    padding: 10px 20px;
}
.job {
    color: var(--800);
    font-weight: 800;
}
.fecha-job {
    font-weight: 400;
}
.job-description {
    line-height: 1.3;
    color: var(--800);
    font-size: var(--text-small);
}

/* ___________________ EDUCATION ___________________ */

.education-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 40px;
    padding: 10px 20px;
}
.institute {
    color: var(--800);
    font-weight: 800;
}
.institute-description{
    line-height: 1.3;
    color: var(--800);
    font-size: var(--text-small);
}
.fecha-education {
    font-weight: 400;
}
/* ___________________ CERTIFICATIONS ___________________ */
.certificate-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0px 20px;
}

/* ___________________ FOOTER ___________________ */

.footer-container {
    padding: 100px 20px;
}

.padding {
    height: 200px;
}
@media (max-width: 496px) { 
    .links {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .link {
        color: var(--800);
    }
    .scroll-ids {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .id-links {
        text-align: center;
        color: var(--800);
        padding: 10px 100px;
    }
    .foto-perfil {
        display: none;
    }
}

/* SCROLLING */
