:root {
    /* COLORES */
    /* color-scheme: light dark; */
    --color-principal: #9779E6;
    --color-principal-2: #735cad;
    --color-principal-3: #4e3f74;
    --white100: #FFF;
    --50: #FAFAFA;
    --100: #F5F5F5;
    --200: #EEEEEE;
    --300: #E0E0E0;
    --400: #BDBDBD;
    --500: #9E9E9E;
    --600: #757575;
    --700: #616161;
    --800: #424242;
    --900: #212121;
    --black100: #000;
    /* TIPOGRAFÍAS */
    --heading-xxlarge: 56px;
    --heading-xlarge: 48px;
    --heading-large: 40px;
    --heading-medium: 32px;
    --heading-small: 24px;
    --heading-smaller: 20px;
    --text-large: 20px;
    --text-medium: 18px;
    --text-regular: 16px;
    --text-small: 14px;
    --text-tiny: 12px;
}


/* ___________________ GLOBALS ___________________ */
*, *:before, *:after { box-sizing: inherit; margin: 0; }
body { font-family: monospace; background-color: var(--300); }
a { text-decoration: none; }

/* ___________________ LINKS ___________________ */
.container-links {
    background-color: var(--400);
    margin: 0 auto;
    max-width: 576px;
}
.links {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 20px;
}
.link {
    color: var(--800);
}

/* ___________________ PERFIL ___________________ */
.perfil {
    display: flex;
    align-items: center;
    gap: 15px;
}
.foto-perfil {
    width: 100px;
    height: 100px;
    background-color: var(--500);
    border-radius: ;
}
.perfil-container {
    background-color: var(--400);
    margin: 0 auto;
    max-width: 576px;
}
.perfil {
    padding: 20px;
}
.datos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contacto {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nombre-container {
    display: flex;
    align-items: end;
    gap: 10px;
}
.nombre{
    color: var(--800);
}
.fecha{
    font-weight: 400;
    color: var(--800);
}
.text-icon {
    font-size: var(--text-small);
}
.icon-container {
    display: flex;
    gap: 10px;
    color: var(--800);
}
.texto-container {
    padding: 0px 20px 20px 20px;
}
.texto {
    color: var(--800);
    font-size: var(--text-small);
}

/* ___________________ SKILLS ___________________ */

.skills-container {
    background-color: var(--400);
    margin: 0 auto;
    max-width: 576px;
}
.skills-title {
    font-size: var(--text-regular);
    padding-left: 20px;
}
.brand {
    font-size: var(--text-small);
    padding: 20px 20px 0px 20px;
}
.icon-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5px 20px 20px 20px;
}
.icon-skill {
    padding: 5px 10px;
    border: 1px solid var(--800);
    transition: .2s ease;
}
.icon-skill:hover {
    padding: 5px 15px;
    color: var(--400);
    background-color: var(--800);
}


/* ___________________ EDUCATION ___________________ */


/* ___________________ WORK EXPERIENCE ___________________ */




/* ___________________ CERTIFICATIONS ___________________ */


/* ___________________ FOOTER ___________________ */